<div class="container-fluid show-page">
  <div class="container-fluid search-page">
    <div class="row text-right save-article">
      <a href="">Save Article</a>
    </div>
    <h2><%= @page.title %></h2></br>
      <a href="<%= @page.fullurl %>"><%= @page.fullurl %></a></br></br>
      <div class="page-body">
        <% @page.text.split("==").each do |segment| %>
          <strong><p><%= segment %></p></strong></br></br>
        <% end %>
      </div>
  </div>
</div>
