<div class="container-fluid show-page">
  <div class="container-fluid search-page">
    <h2><%= @page.title %></h2></br>
      <a href="<%= @page.fullurl %>"><%= @page.fullurl %></a></br></br>
      <p><%= @page.text %></p>
  </div>
</div>
