<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" id="page-logo" href="/">Enlightened</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="/"></a>
        </li>
        <% if current_page?(controller: 'welcome', action: 'index') %>
        <li>
          <a class="page-scroll" href="#services">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">People</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">Process</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <% else %>
        <% end %>
        <% if current_user %>
        <li>
          <a href="/logout">Logout</a>
        </li>
        <li>
          <a href="/dashboard"><img src="<%= current_user.picture %>", class="img-rounded img-responsive inline-block" id="prof-pic"/></a>
        </li>
        <% else %>
        <li>
          <a href="#signupModal" class="signup-link" data-toggle="modal">Sign Up</a>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Signup Modal -->
<div class="portfolio-modal modal" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="signup-modal-body">
            <!-- Signup Details Go Here -->
              <h2>Create an Account</h2>
                <p class="item-intro text-muted">Log in with Facebook</p>
                  <img class="img-responsive img-centered" src="assets/enlightened2.jpg" alt="">
                    <p>We will only access your basic information in order to create a login and account for you. We will not store any of your data for any reason(s) other.</p>
                      <strong><h3>Facebook</h3></strong>
                        <ul class="list-inline">
                          <%= link_to "Log in with Facebook", "auth/facebook", class: "btn btn-lg btn-default btn-home fa fa-facebook" %>
                        </ul>
                      <strong><h3>Twitter</h3></strong>
                        <ul class="list-inline">
                          <%= link_to "Log in with Twitter", "auth/twitter", class: "btn btn-lg btn-default btn-home fa fa-twitter" %>
                        </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
