<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Learn something new</div>
      <div class="intro-heading">Enjoy!</div>
      <% if current_user %>
      <a href="/dashboard" class="page-scroll btn btn-xl">Enlighten Me</a>
      <% else %>
      <a href="#signupModal" data-toggle="modal" class="btn btn-xl">Enlighten Me</a>
      <% end %>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services" class="green">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">What we're about</h2>
        <h3 class="section-subheading text-muted">The power of learning and the importance of having information at the ready.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-wikipedia-w fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Choose a topic</h4>
          <p class="text-muted">We gather topics and articles from Wikipedia's API for you to choose from.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Read</h4>
          <p class="text-muted">Gain an initial understanding of the topic chosen (hopefully you'll already have learned something) Feel free to hang on to it for later.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Continue to expand</h4>
          <p class="text-muted">Keep a log of your topics and your thoughts on them. Come back and see how your thoughts have changed.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">People</h2>
          <h3 class="section-subheading">The significance of diversity</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Race, Creed, Color, Gender</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Education</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Experience</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Background</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Geography</h4>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <div class="portfolio-caption">
              <h4>Socioeconomic Status</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="green">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Process</h2>
          <h3 class="section-subheading text-muted">Become Aware; Evoke Change.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/greenLeafWithDew.jpg" alt="green leaf">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Start</h4>
                  <h4 class="subheading">Teach yourself anything you want to know.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Education is arguably the most powerful tool for human advancement. The first step in the process is reading.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/greenLeafWithDew.jpg" alt="green leaf">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Education is more than just a dream.</h4>
                  <h4 class="subheading">You get to learn every day from someone that can offer a different perspective</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The entire world is at your fingertips</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/greenLeafWithDew" alt="green leaf">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Decide what you want to see in the world</h4>
                  <h4 class="subheading">Be that person</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Shape a better world.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/greenLeafWithDew.jpg" alt="green leaf">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Discuss</h4>
                  <h4 class="subheading">Nothing never discussed ever became change.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Make yourself Enlightened.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Make the World
                  <br>A Better
                  <br>Place</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">The Optimist</h2>
            <h3 class="section-subheading">It's perfectly alright to have a few screws loose.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-member">
              <img src="/assets/mohawk.jpg" class="img-responsive img-circle" alt="Drew">
              <h4>Drew Conly</h4>
              <p>Designer</p>
              <ul class="list-inline social-buttons">
                <li><a href="https://www.facebook.com/drew.conly"><i class="fa fa-facebook"></i></a>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="/assets/turing_profil.jpg" class="img-responsive img-circle" alt="Drew">
                <h4>Drew Conly</h4>
                <p>Marketer</p>
                <ul class="list-inline social-buttons">
                  <li><a href="https://www.linkedin.com/in/drewconly"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="/assets/cowboy_hat.jpg" class="img-responsive img-circle" alt="Drew">
                <h4>Drew Conly</h4>
                <p>Developer</p>
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/drew_conly"><i class="fa fa-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <p class="large">While we realize that this is 'technically' the same person, three photos looked more balanced than one.</p>
            </div>
          </div>
        </div>
      </section>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- Portfolio Modal 1 -->
        <div class="portfolio-modal modal" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2>Race, Creed, Color, Gender</h2>
                    <img class="img-responsive img-centered" src="assets/diversity.jpg" alt="">
                    <p>Getting to know how these differences in people have affected their past, present, and future will allow you to develop a better understanding of their perspective.</p>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Portfolio Modal 2 -->
          <div class="portfolio-modal modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                      <h2>Education</h2>
                      <p>Education is one of the most important facets of an individual's perspective. This is a huge issue with many moving parts - maybe a topic for investigation?</p>
                      <img class="img-responsive img-centered" src="assets/education.jpg" alt="">
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Portfolio Modal 3 -->
          <div class="portfolio-modal modal" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2>Experience</h2>
                      <img class="img-responsive img-centered" src="assets/experience.jpg" alt="">
                      <p>What has the person done? Where have they worked, volunteered, etc.</p>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Portfolio Modal 4 -->
          <div class="portfolio-modal modal" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2>Background</h2>
                      <img class="img-responsive img-centered" src="assets/background.jpg" alt="">
                      <p>What type of family did someone grow up in, what did their parents do? Cyblings, friends, etc.</p>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Portfolio Modal 5 -->
          <div class="portfolio-modal modal" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2>Geography</h2>
                      <img class="img-responsive img-centered" src="assets/geography.jpg" alt="">
                      <p>Where did you grow up? How does that differ from another part of the country? Another part of the world?</p>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Portfolio Modal 6 -->
          <div class="portfolio-modal modal" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2>Socioeconomic Status</h2>
                      <img class="img-responsive img-centered" src="assets/socioeconomic.jpg" alt="">
                      <p>Money makes the world go 'round as they say. Socioeconomic Status can change people for their entire lives.</p>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
